* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: auto;
    background-color: #000;
    color: white;
    overflow-x: hidden;
}
@font-face {
    font-family: "SpeedrusherRegular";
    src: url(/SpeedrusherRegular-4nqrD.otf);
    
}

@font-face {
    font-family: "ShutdownBrush";
    src: url(/ShutdownBrushDemo-7OAnR.otf);
}
#first-part-second h4 span {
    font-family: "ShutdownBrush";
}
#first-part-second{
    box-shadow: inset 0 0 3px greenyellow , inset 0 0 30px ;
    padding: 50px;
}
#first-part-second h4 {
    text-transform: capitalize;
    font-family: 'Arial Narrow Bold', sans-serif;
    /* text-shadow: 0 0 2px black , 0 0 5px white; */
}
#container{
    width: 100%;
}

#container #intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

#intro .intro-h1 {
    padding-bottom: 100px;
    font-size: 3.5vw;
    text-align: center;
}
#intro .intro-h1 h1{
    font-family: 'SpeedrusherRegular';
    text-shadow: 1px 1px 15px rgb(0, 0, 255), 1px 1px 30px rgb(255, 255, 255);
    /* animation: glow 1s ease-in-out alternate infinite; */
}

@keyframes glow {
    0%{
        text-shadow: inset 1px 1px 15px rgb(255, 255, 255), inset 1px 1px 50px rgb(255, 255, 255);
    }
    100%{
        text-shadow: 1px 1px 5px rgb(0, 0, 0), 1px 1px 50px rgb(255, 255, 255);
    }
}



#intro>img {
    height: 600px;
    filter: drop-shadow( 0px 5px 40px rgba(249, 229, 229, 0.807));
}

#second-page {
    width: 100%;
}

#second-page #first-part-second h4 {
    font-size: 3vw;
}

#second-page #first-part-second {
    color: green;
    padding: 100px;
    /* background-color: ; */
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25svh;
    width: 100%;
}

.card-marquee {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden;

}

::-webkit-scrollbar {
    display: none;
}

.marquee {
    display: flex;
}

.marquee>h1 {
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 600;
    margin-right: 30px;
}

.card {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 0em;
}

.card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 150px;
    overflow: hidden;
}


.card-img img {
    width: 100%;
    height: 100%;
    transform: scale(2);
    object-fit: cover;
    /* filter: blur(12px); */
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

.card-content .card-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-content .card-description {
    text-align: center;
    width: 40%;
    margin-bottom: 3em;
    position: relative;
    transform: translateX(40px);
    opacity: 0;
}

.card:nth-child(2) {
    margin-top: 50vh;
}

.char {
    position: relative;
    overflow: hidden;
    display: inline-block;

}

.char span {
    transform: translateX(100%);
    display: inline-block;
    will-change: transform;
}

.outro {
    height: 100svh;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outro h1 {
    width: 60%;
    text-align: center;
    line-height: 1.1;

}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
}

.card-title>h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    line-height: 1.25;
}

@media (max-width: 834px) {
    #intro>img {
        height: 430px;
    }

    #intro .intro-h1 {
        padding-bottom: 100px;
        font-size: 6.2vw;
        text-align: center;
    }

    #second-page #first-part-second {
        padding: 30px;
    }

    #second-page #first-part-second h4 {
        font-size: 4vw;
    }

    .card-content .card-title {
        padding: 0 1em;
    }

    .card-content .card-description {
        width: 90%;
        font-size: 0.95rem;
        padding: 1em;
        margin-bottom: 2em;
    }

    .card-marquee .marquee h1 {
        font-size: 12vw;
    }

    .card-img {
        border-radius: 100px;
    }

    .card-wrapper {
        padding: 0em;
    }

    .char span {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.25;
    }

    .card-title>h1 {
        font-size: 2.1rem;
        font-weight: 500;
        letter-spacing: -0.1rem;
        line-height: 1.25;
    }
    .card-img img {
    transform: scale(2);
    width:100%;
    height: 100%;
  }

}